@import url(https://fonts.googleapis.com/css?family=Orbitron:700);

#aboutMe {
    color: var(--standar-color-text) !important;
    height: calc(100vh + 137px);
}

#aboutMe span {
    font-size: 30px;
}

.orbitron {
    display: inline-block;
    position: relative;
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 32px;
    margin-bottom: 30px;
}

.orbitron::before,
.orbitron::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 60%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}

.orbitron::before {
    left: -65%;
}

.orbitron::after {
    right: -63%;
}

.orbitron.black-orb::before,
.orbitron.black-orb::after {
    background-color: black;
}
