@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.custom-card {
    background: #191c29;
    width: 250px;
    height: 350px;
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    margin: 20px;
}

.custom-card:hover {
    color: var(--standar-color-text);
    transition: color 1s;
}

.custom-card:hover:before,
.custom-card:hover:after {
    animation: none;
    opacity: 0;
}

.custom-card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 3.5s linear infinite;
}

.custom-card::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 3.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 132deg; /* Ajusta el valor inicial de rotación */
    }
    100% {
        --rotate: 360deg; /* Ajusta el valor final de rotación */
    }
}
