@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

body {
	animation: gradient 15s ease infinite;
	background: var(--gradient-light);
	background-size: 400% 400%;
	height: 100vh;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 2px;
	font-weight: 400;
	font-family: "Roboto";
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}

a, p, span, li, h1, h2, h3 {
	color: var(--standar-color-text) !important;
	text-decoration: none;
}

h1 {
	font-family: "Montserrat";
	text-transform: uppercase;
	font-size: 58px;
	line-height: 72px;
	letter-spacing: 20px;
	margin-bottom: 20px;
}

.icon {
	width: 25px;
	height: 25px;
}

.dark-theme {
	background: var(--gradient-light);
	background: var(--gradient-dark);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
  height: 100vh;
}

.nav-text {
	font-size: 13px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 500;
	padding: 5px 20px !important;
}

.bg-dark-mate {
	background-color: var(--dark-mate);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
