@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

body {
	height: 100vh;
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 2px;
	font-weight: 400;
	font-family: "Roboto";
	max-height: 1400px !important;
}

.dark-body {
	background-color: var(--dark-background);
	color: var(--standar-color-text) !important;
}

.light-body {
	background-color: var(--standar-color-text);
	color: var(--dark-mate) !important;
}

a, p, span, li, h1, h2, h3 {
	text-decoration: none;
}

h1 {
	font-family: "Montserrat";
	text-transform: uppercase;
	font-size: 58px;
	line-height: 72px;
	letter-spacing: 20px;
	margin-bottom: 20px;
}

h2 {
	font-family: "Montserrat";
	text-transform: uppercase;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 16px;
	margin-bottom: 15px;
}

h3 {
	font-family: "Montserrat";
	text-transform: uppercase;
	font-size: 28px;
	line-height: 35px;
	letter-spacing: 10px;
}

h4 {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.icon {
	width: 25px;
	height: 25px;
}

a.nav-link {
	color: var(--standar-color-text) !important;
}

.dark-theme-gradient {
	background: var(--gradient-dark);
}

.light-theme-gradient {
	background: var(--gradient-light);
}

.animation-dark-theme-gradient {
	background: var(--gradient-dark);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
 	height: 100vh;
}

.animation-light-theme-gradient {
	background: var(--gradient-light);
	animation: gradient 15s ease infinite;
	background-size: 400% 400%;
 	height: 100vh;
}

.nav-text {
	font-size: 13px;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 500;
	padding: 5px 20px !important;
}

.bg-dark-mate {
	background-color: var(--dark-mate);
}

.bg-white {
	background-color: var(--standar-color-text);
}

.color-white {
	color: var(--standar-color-text);
}

.color-black {
	color: var(--dark-mate);
}

/* Lineas verticales */

.lines-thing {
	display: inline-block;
    position: relative;
    margin-bottom: 45px;
    height: 2px;
    width: 80px;
	background-color: #fff;
}

.lines-thing::before {
    top: -12px;
}

.lines-thing::after {
    bottom: -12px;
}

.lines-thing::before, .lines-thing::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: #fff;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
