:root {
    --curriculum-color: #1f4766;
    --dark-mate: #404040;
    --standar-color-text: #f0f0f0;
    --gradient-light: linear-gradient(-45deg, #8958c9, #c867d4, #a5466b, #eb965d);
    /* --gradient-dark: linear-gradient(-45deg, #0D1526, #192C3A, #444c7e, #14151a); */
    --gradient-dark: linear-gradient(-45deg, #0D1526, #122838, #282e53, #14151a);
    --shadow-black: rgba(50, 50, 50, .2);
    --dark-background: #1d1d1d;
}